
.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
}

.input-container .input-glass {
  position: absolute;
  top: 20%;
  left: 8%;
  font-size: 25px;
  background: radial-gradient(
    12.5px at 35.45% 40.02%,
    var(--textColorSecondary) 0%,
    #08aeea 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.side-glass {
  display: inline-block;
  animation-name: going;
  animation-duration: 0.4s;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 96px;
  padding: auto;
  font-size: 40px;
  background: radial-gradient(
    12.5px at 35.45% 40.02%,
    var(--textColorSecondary) 0%,
    #08aeea 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-input {
  animation-name: going;
  animation-duration: 0.8s;
  padding: 20px 10px 10px 15px;
  margin-bottom: 10px;
  border-top-width: 5px;
  border-radius: 28.5px;
  border: none;
  width: 40%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: var(--txtColorPrimary);
  background: #201d3e;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: center;
}

.search input {
  text-indent: 32px;
}

.main-input::placeholder {
  width: 92%;
  display: inline-block;
  height: 50px;
  border: 0px;
  color: rgb(159, 165, 170);
  font-size: 1rem;
  font-family: var(--ftFamily);
}


input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent !important;
}
input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent !important;
}
input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent !important;
}
input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent !important;
}

input:focus {
  /* Chrome/Opera/Safari */
  outline: none;
}

@media (max-width: 2000px) {
  .main-input {
    width: 85%;
  }
}

@keyframes going {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
    opacity: 0.6;
  }
}
