@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.article-component {
  font-family: var(--ftFamily);
  display: block;
  background-color: var(--bgPrimary);
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px 2px 10px 2px;
  overflow: scroll;
  border-radius: 12px;
}

.position-name-article {
  font-weight: var(--BoldFontWeight);
  margin-left: 10px;
  color: var(--txtColorPrimary);
}

.location {
  font-weight: 400;
}

.workplace-name {
  color: var(--textColorSecondary);
  margin-left: 10px;
}

.location-name {
  color: var(--textColorBlue);
}

.contract-type {
  color: #575473;
  margin-left: 10px;
}

.article-title {
  color: var(--txtColorPrimary);
  margin-top: 10%;
  margin-left: 10px;
}

.skills {
  color: var(--txtColorPrimary);
  margin-top: 5%;
  margin-left: 5px;
  line-height: 22px
}

.about-description {
  color: var(--txtColorPrimary);
  padding: 2px 4px 2px 4px;
  margin-left: 10px;
  line-height: 22px;
}

.overview {
  line-height: 25px
}

.compensation {
  margin-left: 10px;
  color: var(--textColorBlue)
}

@media only screen and (max-device-width: 600px) {
  .article-component {
    height: 570px;
  }
}

@media only screen and (min-device-width: 600px)  {
  .article-component{
    width: 814px;
    height: 770px;
    }
    .skills {
      color: var(--txtColorPrimary);
      margin-top: 3%;
      margin-left: 5px;
      line-height: 22px
    }
    
  }
