@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");

.header-component {
  display: block;
  background-color: #201d3e;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding: 10px 2px 10px 2px;
  overflow: scroll;
  height: 450px;
  border-radius: 10px;
}

.position-name-article {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin-left: 10px;
  color: white;
}

.location {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.workplace-name {
  color: #3eecac;
  margin-left: 10px;
}

.location-name {
  color: #10b7e0;
}

.contract-type {
  color: #575473;
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
}

.about {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-top: 10%;
  margin-left: 10px;
}

.about-description {
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 2px 4px 2px 4px;
  margin-left: 10px;
}

@media only screen 
    and (min-device-width: 375px) 
    and (min-device-height: 812px) 
    and (-webkit-device-pixel-ratio: 3)
    and (orientation: portrait) { 
  .header-component {
      height: 600px;
  }
}
