
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');


.article-component {
  background: #efefef;
  height: 90vh;
  font-family: "Source Sans Pro", sans-serif;
}

.article-container {
  margin-top: 80px;
  margin-bottom: 5px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.flex-header {
  display: flex;
  justify-content: space-between;
}

.article-img {
  width: 15%;
  height: 25%;
  margin-bottom: 25px;
  border: 1px solid rgb(218, 216, 216);
}

.article-title {
  text-align: center;
  font-weight: 100;
}

.article-workplace_name {
  color: grey;
}

.red {
  border: 2px solid rgb(255, 26, 95);
  padding: 3px 10px 3px 10px;
  border-radius: 8px;
}

.blue {
  border: 2px solid rgb(26, 199, 255);
  padding: 3px 10px 3px 10px;
  border-radius: 8px;
}

.title-article {
    font-weight: 700
}
