.blog-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border: 10px;
  background-color: var(--bgPrimary);
  border-radius: 12px;
  padding: 1.5em;
  margin: 10px 15px 15px 15px;
  font-family: var(--ftFamily);
}

.position-name {
  font-style: normal;
  font-weight: var(--BoldFontWeight);
  font-size: var(--PrimaryFontSize);
  line-height: 21px;
  color: var(--txtColorPrimary);
  text-decoration: none;
  margin: 0;

}

.text-description {
  color: white;
  font-size: var(--PrimaryFontSize);
}

.place {
  color: var(--textColorSecondary);
  font-style: normal;
  font-size: var(--PrimaryFontSize);
  margin-bottom: 2px;
}

.location-job {
  color: var(--textColorBlue);
  margin-bottom:0;
}

.link-apply {
  text-decoration: none;
}


/* Media Queries !!! */

@media only screen and (min-device-width: 600px)  {
.blog-card {
  width: 614px;
  margin: 15px auto 10px auto;
}
.location-job {
  display: none;
 }
 .place {
   margin-bottom: 10px;
 }
 .desktop-location {
   color: var(--textColorBlue)
 }
}

@media only screen and (max-device-width: 600px)  {  
  .text-description {
    display: none
  }
  .desktop-location {
    display: none;
  }
   }
