.jobCard {
  display: block;
  width: 100%;
  padding: 10px 2px 10px 2px;
  overflow: scroll;
  height: 700px;
  border-radius: 12px;
}


.blog-card {
  border: 10px;
  background-color: var(--bgPrimary);
  border-radius: 12px;
  padding: 1.5em;
  margin: 10px 15px 15px 15px;
  font-family: var(--ftFamily);
}

.position-name {
  font-style: normal;
  font-weight: var(--BoldFontWeight);
  font-size: var(--PrimaryFontSize);
  line-height: 21px;
  color: var(--txtColorPrimary);
  text-decoration: none;
  margin: 0;

}

.place {
  color: var(--textColorSecondary);
  font-style: normal;
  font-weight: 400;
  font-size: var(--PrimaryFontSize);
  line-height: 21px;
  margin-bottom: 2px;
}

.location-job {
  color: var(--textColorBlue);
  margin-bottom:0;
}

.link-apply {
  text-decoration: none;
}

@media only screen and (min-device-width: 600px)  {
.blog-card {
  width: 614px;
 margin: 15px auto 10px auto;
}
  }
