@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.main-footer {
  display: flex;
  justify-content: space-evenly;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1rem;
  margin: 13px;
  border: 1px solid var(--textColorSecondary);
  border-radius: 4%;
}
