@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  position: relative;
}

.input-container .fa-search {
  position: absolute;
  top: 20%;
  left: 8%;
  font-size: 25px;
  background: radial-gradient(
    12.5px at 35.45% 40.02%,
    #3eecac 0%,
    #08aeea 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-input {
  padding: 20px 10px 10px 15px;
  margin-bottom: 6px;
  border-top-width: 5px;
  border-radius: 28.5px;
  border: none;
  width: 40%;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background: #201d3e;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: -0.02em;
  text-align: center;
}

.search input {
  text-indent: 32px;
}
.search .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
}

.main-input::placeholder {
  width: 92%;
  display: inline-block;
  height: 50px;
  border: 0px;
  color: rgb(159, 165, 170);
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

.text_input-top {
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 120px;
  font-size: 2rem;
  margin-bottom: 2px;
}

input:focus::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: transparent !important;
}
input:focus::-moz-placeholder {
  /* Firefox 19+ */
  color: transparent !important;
}
input:focus:-ms-input-placeholder {
  /* IE 10+ */
  color: transparent !important;
}
input:focus:-moz-placeholder {
  /* Firefox 18- */
  color: transparent !important;
}

input:focus {
  /* Chrome/Opera/Safari */
  outline: none;
}

@media (max-width: 2000px) {
  .main-input {
    width: 85%;
  }
}
