:root {
  --ftFamily: "Roboto", sans-serif;
  --bgPrimary: #201d3e;
  --txtColorPrimary: #ffffff;
  --textColorSecondary: #3eecac;
  --BoldFontWeight: 700
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background: #16132e;
}

.App-logo {
  display: block;
  width: 210px;
  margin: 10px auto;
  padding: 1rem;
  text-align: center;
}
