:root {
  --ftFamily: "Roboto", sans-serif;
}


html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  background:  #16132E;;
}

.App-logo {
  display: block;
  text-indent: -9999px;
  width: 210px;
  height: 50px;
  background-size: 100px 82px;
  margin: 20px auto;
  padding: 1.1rem;
  text-align: center;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-size: 1.1rem;
  padding: 0;
  padding-bottom: 20px;
}

